/* <dl> element's <dt> and <dd> children */

dt, .view-dt {
	font-weight: bold;
	color: var(--dtcolor);
	break-after: avoid-page;
}

dd {
	margin-inline-start: var(--ddindentation);
}

dd ul {
	margin-block: 0;
}

.markdown-source-view.mod-cm6 .cm-content .cm-line.view-dd {
	margin-inline-start: var(--ddindentation) !important;
}

/* Correct first-line indentation of <dd>: */
/* - If it's the current paragraph, unindent the first line */
.markdown-source-view.mod-cm6 .cm-content .cm-line.view-dd.cm-active {
	text-indent: -18px !important; /* first line of block */
}
/* - If it isn't, hide the <dd> markers ':   '  */
.markdown-source-view.mod-cm6 .cm-content .cm-line:not(.cm-active)>.view-dd-marker {
	display: none;
}

/* This doesn't work (not implemented in Obsidian?) */
.view-dd:first-letter {
	display: none !important;
}

