/* <dl> element's <dt> and <dd> children */

dt, .view-dt {
	font-weight: bold;
	color: #557;
	break-after: avoid-page;
}

dd {
	margin-inline-start: 30px;
}

dd ul {
	margin-block: 0;
}

.markdown-source-view.mod-cm6 .cm-content .cm-line.view-dd {
	margin-inline-start: 30px !important;
	text-indent: -18px !important; /* first line of block */
}

/* This doesn't work (not implemented in Obsidian?) */
.view-dd:first-letter {
	display: none !important;
}

